<%- include("header") -%>
<!-- TODO ADD ADD TO COLLECTION BUTTON  -->
<div class="search-space search-space-special .container">
    <form class="search-form" action="/search/1" method="POST">
        <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Pokemon Name/Card ID/Card Tier" autocomplete="off" required>
        <button class="btn search-btn btn-outline-primary" type="submit" name="search">Search</button>
    </form>
</div>

<div class="background-img">
    <div class="card-page container">
        <div class="row">
            <div class="col-lg-6 card-pic-div">
                <img class="large-img" src="<%= pokemonImg.large %>" rel="whatever pokemon clicked on">
            </div>
            <div class="col-lg-6">
                <div class="pokemon-info card">
                    <div class="card-header">
                        <h2 class="card-info-title">Card Info:</h2>
                    </div>
                    <div class="list-group list-group-flush">
                        <p class="list-group-item">Card ID: <%= cardId %></p>
                        <p class="list-group-item">Name: <%= pokemonName %></p>
                        <p class="list-group-item">HP: 
                            <!-- Check if object has hp property and handle accordingly -->
                            <% if(!pokemonHP.hasOwnProperty("hp")) { %>
                                    N/A
                            <% } else { %>
                                <%= pokemonHP.hp %></p>
                            <%  }   %> 
                        <p class="list-group-item">Type(s): 
                            <!-- Check if object has types property and handle accordingly -->
                            <% if(!pokemonTypes.hasOwnProperty("types")) { %>
                                    N/A
                            <%  } else { %>
                                <% for(let i = 0; i < pokemonTypes.types.length; ++i) { %>
                                    <%= pokemonTypes.types[i] %>
                                <%  } %>
                        <%   }   %>
                        </p>
                        <p class="list-group-item">Evolves from:
                            <!-- Check if object has evolvesFrom property and handle accordinly -->
                            <% if(!pokemonFrom.hasOwnProperty("evolvesFrom")) { %>
                                N/A
                            <% } else { %>
                                    <%= pokemonEvos.evolvesFrom %>
                            <% } %>
                        <p class="list-group-item">Evolves into:
                            <!-- Check if object has evolesTo property and handle accordingly -->
                        <% if(!pokemonEvos.hasOwnProperty("evolvesTo")) { %>
                            N/A
                        <% } else { %>
                            <% for(let i = 0; i < pokemonEvos.evolvesTo.length; ++i) { %>
                                <%= pokemonEvos.evolvesTo[i] %>
                            <% } %>
                        <% } %>
                        </p>
                        <p class="list-group-item">Weaknesse(s):
                            <!-- Check if object has weaknesses property and handle accordingly -->
                            <% if(!pokemonEvos.hasOwnProperty("weaknesses")) { %>
                                N/A
                            <% } else { %>
                                <% for(let i = 0; i < pokemonWeak.weaknesses.length; ++i) { %>
                                    <%= pokemonWeak.weaknesses[i].type %> | Value: <%= pokemonWeak.weaknesses[i].value %>
                                <% } %>
                            <% } %>
                            </p>
                        <p class="list-group-item">Rarity: <%= pokemonRarity %></p>
                        <p class="list-group-item">Card Artist: <%= cardArtist %></p>
                        <a class="list-group-item list-link" href="<%= tcgLink %>">TCGPlayer</a>
                        <a class="list-group-item list-link" href="<%= cardMarket %>">Card Market</a>
                    </div>
                </div>
            </div>
        </div>
        <% if(!inCollection) { %>
            <form action="/addToCollection" method="POST">
                <button class="btn btn-primary btn-lg" type="submit" name="addBtn" value="<%=cardId%>">Add</button>
                <input type="hidden" name="cardImg" value="<%=pokemonImg.small%>">
            </form>
        <% } else { %>
            <form action="/removeFromCollection" method="POST">
                <button class="btn btn-primary btn-lg" type="submit" name="removeBtn" value="<%=cardId%>">Remove</button>
            </form>
        <% } %>
    </div>   
</div>

<%- include("footer") -%>