<%- include("header") -%>

<div class="search-space search-space-special .container list-search-space">
    <form class="search-form" action="/search/1" method="POST">
        <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Card Name/Card ID/Card Tier" autocomplete="off" required>
        <button class="btn search-btn btn-outline-primary" type="submit" name="search">Search</button>
    </form>
    <form class="view-form" action="/pageStyle" method="POST">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              View as
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item layout-btn"  type="submit" name="imageBtn" value="<%=curName%>">Images</button></li>
              <li><button class="dropdown-item layout-btn"  type="submit" name="listBtn" value="<%=curName%>">List</button></li>
            </ul>
        </div>
    </form>
</div>

<table class="table table-responsive table-bordered table-secondary">
    <thead>
      <tr>
        <th>Card ID</th>
        <th>Card Name</th>
        <th>Type(s)</th>
        <th>Weaknesse(s)</th>
        <th>Rarity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <!-- DISPLAYS SEARCH PAGE IN LIST FORMAT -->
        <% for(let i = startIndex; i < endIndex; ++i) { %>
            <tr class="list-text">
                <td><span class="img-hover-text"><a class="list-card-link"href="/cardpage/<%= cardArr[i].id %>"><%=cardArr[i].id%> </a> <img class="set-symbol" src="<%=cardArr[i].set.images.symbol%>" alt="set symbol"></span>
                    <img class="hidden-img" src="<%=cardArr[i].images.small%>" alt="<%=cardArr[i].name%>">
                </td>
                <td><%=cardArr[i].name%></td>
                <td><% if(!cardArr[i].hasOwnProperty("types")) { %>
                            N/A
                    <%  } else { %>
                        <% for(let j = 0; j < cardArr[i].types.length; ++j) { %>
                            <%= cardArr[i].types[j] %>
                        <%  } %>
                    <%  } %>
                </td>
                <td><% if(!cardArr[i].hasOwnProperty("weaknesses")) { %>
                        N/A
                    <% } else { %>
                        <% for(let k = 0; k < cardArr[i].weaknesses.length; ++k) { %>
                            <%= cardArr[i].weaknesses[k].type %> 
                        <% } %>
                    <% } %>
                </td>
                <td>
                    <%= cardArr[i].rarity %>
                </td>
                <td>
                    <form class="list-add-form" action="/addToCollection" method="POST">
                        <button class="btn btn-outline-dark btn-lg"type="submit" name="addBtn" value="<%=cardArr[i].id%>">Add</button>
                        <input type="hidden" name="cardImg" value="<%=cardArr[i].images.small%>">
                    </form>
                </td>
            </tr>
        <% } %>
    </tbody>
  </table>

<div class="pagination-thing pagination-background">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <form class="pagination-form pagination" action="/search/:page" method="POST">
            <% for(let i = 0; i < Math.ceil(numOfResults / 24); ++i) { %>
                <% if(Number(activeBtn) === Number(i+1)) { %>
                    <li class="page-item"><button class="page-link page-link-list active btn pagination-btn list-pagination-btn" name="nextBtn" value="<%=i+1%>"><span class="pls"><%= i + 1 %></span></button></li> 
                <%  } else if(activeBtn === undefined) { %>
                    <li class="page-item"><button class="page-link page-link-list active btn pagination-btn list-pagination-btn" name="nextBtn" value="<%=i+1%>"><span class="pls"><%= i + 1 %></span></button></li> 
                    <%activeBtn = -1;%>
                <%  } else { %>
                    <li class="page-item"><button class="page-link page-link-list btn pagination-btn list-pagination-btn" name="nextBtn" value="<%=i+1%>"><%= i + 1 %></button></li>
                <% } %>
            <%}%>
            </form>
        </ul>
      </nav>
</div>
<%- include("footer") -%>